<%= render 'shared/page_title', title: "Select a filter" %>
<div class="well col-md-offset-4 col-md-4">
  <h4><center><%= link_to "Authors", authors_path %></center></h4>
</div>
<div class="well col-md-offset-4 col-md-4">
  <h4><center><%= link_to "Categories", categories_path %></center></h4>
</div>
